.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns-container {
  position: relative;
}

.columns-container .herooverlap {
  position: absolute;
    top: -358px;
    right: 149px;
    max-width: 374px;
    z-index: 2;
   }
.herooverlap > div {
  padding: 24px 24px 24px 0; /* remove left padding */
}

.herooverlap > div > div:first-child {
  margin-left: 24px;  /* push content in */
}

.herooverlap > div {
  background: #fff;
  border-radius: 12px;
}

.herooverlap > div > div:first-child {
  border-left: 2px solid #e30613;
  padding-left: 16px;
}

.columns.redleft > div > div:first-child {
  border-left: 2px solid #e30613;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
}

.columns.redleft > div {
  align-items: flex-start;
}


/* Ensure button is untouched */
.herooverlap .button {
  border: none;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
