.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns-container {
  position: relative;
}

.columns-container .herooverlap {
  position: absolute;
    top: -358px;
    right: 149px;
    max-width: 374px;
    z-index: 2;
   }
/* Red line only on first wrapper */
.herooverlap > div:first-child {
  border-left: 4px solid red;
  padding-left: 16px;
}

/* Optional: if you want line only next to heading */
.herooverlap h3:first-of-type {
  margin-top: 0;
}

/* Ensure button is untouched */
.herooverlap .button {
  border: none;
}

.herooverlap > div {
  background: #fff;
  padding: 24px;
  border-radius: 12px;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
